{% extends 'base.html.twig' %}

{% block title %}Détails de
	{{ product.name }}
{% endblock %}

{% block body %}
	<main class="container">
		<section class="row">
			<div class="col-12">
				<h1>{{ product.name }}</h1>
			</div>
			<div
				class="col-6">
				{# <pre> {{ dump(image) }} </pre> #}
				<div id="carouselExampleIndicators" class="carousel slide">
					<div class="carousel-indicators">
						{% for iteration in 1..product.images|length %}

							<button type="button" data-bs-target="#carouselExampleIndicators" 
							data-bs-slide-to="{{ iteration - 1 }}" {{ (loop.first ) ? 'class="active" aria-current="true"' : '' }} aria-label="Slide {{ iteration }}"></button>

						{% endfor %}
						
					</div>
					<div class="carousel-inner">
						{% for image in product.images %}
							{# <pre> {{ dump(image) }} </pre> #}
							{# loop.first: permet de faire des itérations dès la 1ère image #}
								<div class="carousel-item {{ (loop.first ) ? 'active' : '' }}"> <img src="{{ asset('assets/img/ecran/') ~ image.name }}" class="d-block w-100" alt="{{ product.name }}">
							</div>
						{% endfor %}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
			<div
				class="col-6">
				{# Affichage de la description #}
				<p>{{ product.description }}</p>
				{# Affichage de la catégorie du produit #}
				<p>Catégorie : {{ product.categories.name }}</p>
				{# pour ne pas stocker de décimales dans la BDD, on parle en centimes il faut donc diviser le prix par 100 pour l'affichage : #}
				<p>Prix : {{ product.price / 100  }}€</p>

				{% if product.stock > 0 %}
				<a href="#" class="btn btn-success">Ajouter au panier</a>
				{% else %}
					<p class="text-danger">Temporairement en rupture de stock</p>
				{% endif %}
					
			</div>
		</section>
	</main>
{% endblock %}
